
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

header, .top, footer {
    background-color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero > .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero > .secondary {
    font-size: 18px;
    color: #E5E7EB
}

button, .bottom {
    background-color: #3882F6;
}

.random-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote > .message {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;

}
