
body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  padding: 0px;
  margin: 0px;

}

.content {
    width: 500px;
    background-color: white;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



header > ul {
    display: flex;
    gap: 5px;
    align-items: center;
}



header, .top, footer {
    background-color: #1F2937;
}

h3 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero > .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero > .secondary {
    font-size: 18px;
    color: #E5E7EB
}

button, .bottom > .message {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

button {
    padding: 2px 12px;
    border: 2px;
}

.white-border {
    border: 2px solid white;
}

.blue-border {
    border: 2px solid #3882F6;
}





.random-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote > .message {
    
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;

}

.quote {
    background-color: #E5E7EB;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  font-size: 12px;
  color: grey;
}

footer {
  color: lightgrey;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}


.bottom > .message {
    padding: 5px;
    margin: 20px;
}